<template name="task">
  <div class="ui modal task">
    <i class="close icon"></i>
    <div class="header">
      <i class="leaf icon"></i>
      Feeds
    </div>
    <div class="content">
      <div class="left">
        <i class="small ui edit sign link icon"></i><a href="#" class="description">Click to edit the description</a>
        <div class="ui horizontal divider">
          <i class="circular rocket icon"></i>
        </div>





        
        <div class="ui small piled feed segment">
          <div class = "activity">
            <h4 class="ui header">Recent Activity</h4>

            <div class="event">
              <div class="label">
                <a><img src="/img/travis.jpg"></a>
              </div>
              <div class="content">
                <div class="date">
                  Moments ago
                </div>
                <div class="summary">
                  You commented on the task
                </div>
                <div class="extra text">
                  I'm sorry I didn't even notice you put up new documentation.  That's awesome!
                </div>
              </div>
            </div>


            <div class="event">
              <div class="label">
                <a><img src="/img/denny.jpg"></a>
              </div>
              <div class="content">
                <div class="date">
                  3 days ago
                </div>
                <div class="summary">
                  <a>Denny Scott</a> added <a>2 new pictures</a> to documentation
                </div>
                <div class="extra images">
                  <a><img src="/img/class.jpg"></a>
                  <a><img src="/img/flow-chart.jpg"></a>
                </div>
              </div>
            </div>


            <div class="event">
              <div class="label">
                <a><img src="/img/travis.jpg"></a>
              </div>
              <div class="content">
                <div class="date">
                  5 days ago
                </div>
                <div class="summary">
                 <a>Travis Scott</a> created this task
               </div>
             </div>
           </div>


         </div>



       </div>





     </div>
     <div class="right">
<!--         

-->


<div class="ui  vertical labeled icon menu" id="menu">
  <a class="item">
    <!-- <div class = "menu-head" id="profile-head">Profile</div> -->
    <div class = "collaborators">
      <i class = "users icon"></i>Collaborators
      <div class="ui mini circular images collab-img">
        <img class="collab" src="/img/travis.jpg">
        <img class="collab" src="/img/denny.jpg">
      </div>
    </div>
  </a>

  <a class="item">
    <div class="card-tags-section">
      <i class = "tags icon"></i>Tags
      <div class = "card-tags">
        <div class="card red"></div>
        <div class="card blue"></div>
      </div>
    </div>
  </a>

  <a class="item">
    <div class = "checklist">
      <i class="list icon" id="head-list"></i>Checklist
      <div class="scrolling-check-area">
        <i class="empty checkbox icon"></i>Update Dashboard Notifications
      </div>
    </div>
  </a>

  <a class="item">
    <div class = "velocity">
      <i class="star icon" id ="head-star" ></i>Story Points
      <div class="velocity-area">
       <div class="ui star rating">
        <i class="icon"></i>
        <i class="icon"></i>
        <i class="icon"></i>
        <i class="icon"></i>
        <i class="icon"></i>
      </div>
    </div>
  </div>
</a>

  <a class="item">
    <div class = "schedule">
      <i class="calendar icon" id="schedule-list"></i>Schedule
      <div class="schedule-area">
        Scheduled Completion Date: <b>May 27th, 2014</b>
      </div>
    </div>
  </a>


  <a class="item">
    <div class = "analytic">
      <i class="bolt icon" id="schedule-list"></i>Analytics
      <div class="analytic-area">
        Estimated Completion Time: <b>3 Days</b>
      </div>
    </div>
  </a>

</div>
</div>
</div>
<div class="actions">
  <div class="ui button">Cancel</div>
  <div class="ui button">OK</div>
</div>
</div>
</template>