.ui.modal.task > .content {
	background-color: #fff;
}

.ui.modal.task > .content > .left > i.icon {
	font-size: .875em;
	color: #999;
}

.description {
	color: #999;
	text-decoration: none;
	font-style: italic;
}

.ui.modal.task > .content > .left > .segment > .activity {
	margin-left: 10px;
}

.collab-img > img.collab{
	margin-top: 5px;
}

.card-tag{
	text-align: center;
}

.card {
	height: 12px;
	width: 12px;
	border: 1px solid black;
	display: inline-block;
	margin-top: 7px;
}

.scrolling-check-area{
	margin-top: 7px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}

.velocity-area {
	margin-top: 7px;
}

#head-star {
	margin-right: 5px;
}

#head-list {
	margin-right: 5px;
}

.schedule-area {
	margin-top: 7px;
	font-size: 11px;
}

.analytic-area {
	margin-top: 7px;
	font-size: 11px;
}

.ui.popup {
	z-index: 1000;
}

.popup-title {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.all-tasks {
	font-size: 11px;
	margin-top: 7px;
}

.popup-content {
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.popup-icon {
	margin-left: 8px !important;
} 

.pop-task {
	margin-top: 5px;
}

.pop-rate {
	margin-top: 7px;
	text-align: center;
}