<template name="task">
  <div class="ui modal task">
    <i class="close icon"></i>
    <div class="header">
      <i class="leaf icon"></i>
      Feeds
    </div>
    <div class="content">
      <div class="left">
        <i class="small ui edit sign link icon"></i><a href="#" class="description">Click to edit the description</a>
        <div class="ui horizontal divider">
          <i class="circular rocket icon"></i>
        </div>





        
              <div class="ui small piled feed segment">
                <div class = "activity">
                <h4 class="ui header">Recent Activity</h4>

               <div class="event">
                <div class="label">
                  <a><img src="/img/travis.jpg"></a>
                </div>
                <div class="content">
                  <div class="date">
                    Moments ago
                  </div>
                  <div class="summary">
                    You commented on the task
                  </div>
                  <div class="extra text">
                    I'm sorry I didn't even notice you put up new documentation.  That's awesome!
                  </div>
                </div>
              </div>


              <div class="event">
                <div class="label">
                  <a><img src="/img/denny.jpg"></a>
                </div>
                <div class="content">
                  <div class="date">
                    3 days ago
                  </div>
                  <div class="summary">
                    <a>Denny Scott</a> added <a>2 new pictures</a> to documentation
                  </div>
                  <div class="extra images">
                    <a><img src="/img/class.jpg"></a>
                    <a><img src="/img/flow-chart.jpg"></a>
                  </div>
                </div>
              </div>


              <div class="event">
                  <div class="label">
                    <a><img src="/img/travis.jpg"></a>
                  </div>
                  <div class="content">
                    <div class="date">
                      5 days ago
                    </div>
                    <div class="summary">
                     <a>Travis Scott</a> created this task
                   </div>
                 </div>
               </div>


        </div>



        </div>





      </div>
      <div class="right">
        <div class = "collaborators">
          <i class = "users icon"></i>
          Collaborators
            <img class="circular ui mini image collaborator" src="/img/travis.jpg">
            <img class="circular ui mini image collaborator" src="/img/denny.jpg">
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
</template>