body{
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
    background-color:rgba(220,220,220,.4);
}

.ui.styled.sidebar.menu {

background-color: #333;
z-index:1000;

}

.menu-icon {
	font-size:1.3em;
}

.launch.attached.button.pushed {
    margin-left:275px;
}

#fullScreen-scrumboard {
	display:none;
}


.menu.sidebar > .grid > .item.sidebar-bottom-fixed{
    bottom:0;
    left:0;
    position:absolute;
    height:10%;
    max-height:10%;
    min-height:10%;
    overflow-x:hidden;
    z-index:100;
    text-align:center;
    margin-bottom:0px;
    padding-top:0px;
    margin-top:0px;
    border-top:1px solid rgba(255,255,255,.3);
}

.sidebar-search {
    width:100%;
}

.vertical.menu .item .sidebar-search > input[type="text"] {
    padding-top:.35em;
    padding-bottom:.35em;
}

.menu.sidebar > .grid > .item.sidebar-bottom-fixed > .third {
    width:33%;
    float:left;
}

.menu.sidebar > .grid > .item.sidebar-bottom-fixed > .third > i{
    cursor:pointer;
}
.menu.sidebar > .upper-menu-content {
    height:90%;
    max-height:90%;
    min-height:90%;
    overflow-y:scroll;
}

@media screen and ( min-height: 600px ){
        .menu.sidebar > .upper-menu-content {
            max-height:95%;
            min-height:95%;
            height:95%;
        }

        .menu.sidebar > .grid > .item.sidebar-bottom-fixed{
            max-height:5%;
            min-height:5%;
            height:5%;
        }
    }

.launch.attached.button.fixed {
    position:fixed;
    left:0px;
    z-index:1000;

    -webkit-transition: margin 0.3s ease, -webkit-transform 0.3s ease;
    -moz-transition: margin 0.3s ease, -moz-transform 0.3s ease;
    transition: margin 0.3s ease, transform 0.3s ease;
}

.profile-picture {
	margin: auto;
}

.menu-head {
	text-decoration: none;
	font-weight: bold;
}

#menu .item{
	font-size: 0.875rem;
}

#profile-head{
	padding-top: 7px;
}
#menu {
	opacity: .96;
}
