<template name='loggedIn'>
    <div class="ui large vertical inverted labeled icon menu sidebar" id="menu">
        <div class="upper-menu-content">
        <a class="item" href = "profile">
            <img class="circular ui small image profile-picture" src="/img/travis.jpg">
            <div class = "menu-head" id="profile-head">Profile</div>
        </a>

        <div class="item">
            <a href="project" class="menu-head">Roadmap</a>
            <div class="menu">
                <a class="item" href="#">Create a Story</a>
            </div>
        </div>

        <div class="item">
            <a href="#" class="menu-head">Tasks</a>
            <div class="menu">
                <a class="item" href="#">My Tasks</a>
            </div>

            <div class="menu">
                <a class="item" href="#">Issue Tracker</a>
            </div>
        </div>

        <div class="item">
            <a href="#" class="menu-head">Analytics</a>
            <div class="menu">
                <a class="item" href="#">Burnout Chart</a>
            </div>

            <div class="menu">
                <a class="item" href="#">Velocity Chart</a>
            </div>

            <div class="menu">
                <a class="item" href="#">My Velocity</a>
            </div>

            <div class="menu">
                <a class="item" href="#">Issue Analytics</a>
            </div>
        </div>

        <div class="item">
            <a href="#" class="menu-head">Members</a>
            <div class="menu">
                <a class="item" href="#">Add a Member</a>
            </div>

            <div class="menu">
                <a class="item" href="#">Edit Members</a>
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="item sixteen wide column sidebar-bottom-fixed">
            <div class="ui third my-scrum"><i class="square tasks icon"></i></div>
            <div class="ui third chat"><i class="square chat icon"></i></div>
            <div class="ui third settings"><i class="square settings icon"></i></div>
        </div>
    </div>

    </div>
    <div class="ui black huge launch right attached button fixed" id="menu" style="width: 70px;">
        <i class="icon list layout"></i>
        <span class="text" style="display: none;">Menu</span>
    </div>

    <div class="ui page grid">

        <div class="sixteen wide column">

                {{> yield}}
        </div>

    </div>


</template>
