body{
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
    background-color:rgba(220,220,220,.4);
}

.ui.styled.sidebar.menu {

background-color: #333;
z-index:1000;

}

.launch.attached.button.pushed {
    margin-left:275px;
}

.launch.attached.button.fixed {
    position:fixed;
    left:0px;
    z-index:1000;

    -webkit-transition: margin 0.3s ease, -webkit-transform 0.3s ease;
    -moz-transition: margin 0.3s ease, -moz-transform 0.3s ease;
    transition: margin 0.3s ease, transform 0.3s ease;
}
