<template name='loggedIn'>
    <div class="ui styled inverted menu sidebar">

    </div>
    <div class="ui black huge launch right attached button fixed" id="menu" style="width: 70px;">
        <i class="icon list layout"></i>
        <span class="text" style="display: none;">Menu</span>
    </div>

    <div class="ui page grid">

        <div class="sixteen wide column">
            <div class="ui segment">
                {{> yield}}
            </div>
        </div>

    </div>


</template>
