<template name="checklist-side">
  <div class='popup-content'>
    <div class='popup-title'>
    Task to Complete
      <i class='edit icon link popup-icon'></i>
    </div>
    <div class='all-tasks'>
      <div class='pop-task'>
        <i class='empty checkbox icon'></i>Update Dashboard Notifications
        </div>
      <div class='pop-task'>
        <i class='empty checkbox icon'></i>Update Dashboard Notifications
      </div>
      <div class='pop-task'>
        <i class='empty checkbox icon'></i>Update Dashboard Notifications
      </div>
      <div class='pop-task'>
        <i class='empty checkbox icon'></i>Update Dashboard Notifications
      </div>
    </div>
  </div>
</template>