<template name="collaborators">
    <div class='popup-content'>
      <div class='popup-title'>
      Assign Collaborators
        <i class='edit icon link popup-icon'></i>
      </div>
      <div class='collab-person'>
       <div class='ui circular mini image dimmable'>
          <div class='ui dimmer'>
            <div class='content'>
              <div class='center'>
                <i class='ui large icon isCheck checkmark'></i>
              </div>
            </div>
          </div>
          <img src='/img/travis.jpg'>
        </div>
      </div>
    </div>
</template>
