<template name="story-points-side">
 <div class='popup-content'>
    <div class='popup-title'>
    Rating Factors<i class='edit icon link popup-icon'></i>
    </div>
    <div class='all-ratings'>
      <div class='pop-rate'>
        <div class='ui star rating'>
          <i class='icon'></i>
          <i class='icon'></i>
          <i class='icon'></i>
          <i class='icon'></i>
          <i class='icon'></i>
        </div>
        <div class='pop-rate-head'>
          Complexity
        </div>
      </div>
      <div class='pop-rate'>
        <div class='ui star rating'>
          <i class='icon'></i>
          <i class='icon'></i>
          <i class='icon'></i>
          <i class='icon'></i>
          <i class='icon'></i>
        </div>
        <div class='pop-rate-head'>
          Complexity
        </div>
      </div>
      <div class='pop-rate'>
        <div class='ui star rating'>
          <i class='icon'></i>
          <i class='icon'></i>
          <i class='icon'></i>
          <i class='icon'></i>
          <i class='icon'></i>
        </div>
        <div class='pop-rate-head'>
          Complexity
        </div>
      </div>
    </div>
  </div>
</template>