<!--Currently the data being shown is not from a database, so it doesnt remember its state-->
<template name="tags-side">
    <div class='popup-content'>
      <div class='popup-title'>
      Assign Collaborators
        <i class='edit icon link popup-icon'></i>
      </div>
      <div class='collab-person isChecked' id="travis"> <!--Take out ID=Travis and change to create id from mongoID-->
       <div class='ui circular mini icon dimmable'>
          <div class='ui dimmer'>
            <div class='content'>
              <div class='center'>
                <i class='ui big icon checked checkbox'></i>
              </div>
            </div>
          </div>
          <i><div class="card red"></div></i>
        </div>
      </div>
    </div>
</template>


