<!--Currently the data being shown is not from a database, so it doesnt remember its state-->
<template name="tags-side">
    <div class='popup-content'>
      <div class='popup-title'>
      Assign Tags
        <i class='edit icon link popup-icon'></i>
      </div>
      <div class='select-tag' id="red"> <!--Take out ID=red and change to create id from mongoID-->
        <div class='ui medium-card red-tag isChecked tag-image'>
          <div class="small-check"><i class = 'tiny checkmark icon'></i></div>
        </div>
      </div>

      <!--For Demo Purposes Only -->
      <div class='select-tag' id="blue"> <!--Take out ID=red and change to create id from mongoID-->
        <div class='ui medium-card blue-tag tag-image'>
          <div class="small-check"><i class = 'tiny checkmark icon'></i></div>
        </div>
      </div>
      <!-- End of Demo Garbage Code -->

    </div>
</template>


